* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f5f5;
}


.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #111;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 26px;
    font-weight: 600;
}

.search {
    width: 320px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.nav-icons a {
    color: white;
    margin-left: 18px;
    text-decoration: none;
}

.login-btn {
    background: #f4b400;
    padding: 6px 12px;
    border-radius: 5px;
}


.scrull {
    background: darkblue;
    color: white;
    height: 45px;
    line-height: 45px;
}

.title {
    text-align: center;
    margin: 40px 0 20px;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 20px 40px;
}


.product-card {
    position: relative;
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-8px);
}

.product-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}


.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: crimson;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-cart {
    background-color: #ff6f00;
    color:white;
    border :none;
    padding : 10px 16px;
    cursor : pointer;
    border-radius: 4px;

}
.btn-cart.added{
    background-color: green;
    color : white;
    cursor : pointer;
}
.btn-cart.hover{
    background-color: darkred;
}

.btn-buy {
     margin: 6px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    background: #e91e63;
    color: white;
}

.media-section {
    text-align: center;
    padding: 40px;
}

video, audio, iframe {
    width: 70%;
    margin-top: 15px;
    border-radius: 10px;
}


.form-section {
    background: white;
    padding: 40px;
}

.order-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.order-form input,
.order-form select,
.order-form textarea {
    margin: 10px 0;
    padding: 10px;
}

.order-form button {
    background: #111;
    color: white;
    padding: 10px;
    border: none;
}


.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
